.TheCookie {
    width: 300px;
    height: 300px;
    background-image: url("assets/Maincookie.png");
    background-size: cover;
    outline: none;
    padding: none;
    border: none;
    background-color: transparent;
    transition: transform 0.1s ease;
    filter: drop-shadow(0 20px 20px rgba(0, 0, 0, 0.8));
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.cookiesGlow {
    width: 600px;
    height: 600px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 0;
    pointer-events: none;
    animation: spin 10s linear infinite;
}

@keyframes spin {
    from {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    to {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

.TheCookie.clicked {
    transform: scale(0.9) translate(-55%, -55%);
    top: 50%;
    left: 50%;
}

body {
    background-image: url("assets/Background.jpg");
    background-size: cover;
    font-family: "Trebuchet MS", sans-serif;
    overflow: hidden;
    margin: 0;
}

.upgradeslist {
    display: flex;
    flex-direction: column;
    float: right;
    align-items: center;
    color: white;
    background-image: url("assets/signage.jpeg");
    background-size: contain;
    border-radius: 10px;
    height: 100vh;
    width: 25vw;
}

.upclicker {
    width: 20vw;
    height: 100px;
    font-size: 20px;
    white-space: pre-line;
    background-image: url("assets/stone.png");
    background-size: cover;
    border: transparent;
}

.cookie-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    padding: 20px;
    box-sizing: border-box;
    background-image: url("assets/signage.jpeg");
    border-radius: 10px;
    background-size: contain;
    color: white;
}

.upglabel {
    width: fit-content;
    height: fit-content;
    padding: 30px;
}

.CookiesAmnt {
    font-size: 40px;
}

.particle {
    position: absolute;
    color: white;
    font-size: 32px;
    font-weight: bold;
    pointer-events: none;
    animation: float-up 1s ease-out;
    z-index: 10;
    transform-origin: center;
}

@keyframes float-up {
    from {
        opacity: 1;
    }
    to {
        transform: translateY(-100px);
        opacity: 0;
    }
}
